/* See theme-colors.css for the general colors that are set according
 * to the prefers-color-scheme media query.
 */

body {
    --color-border:                    black;

    --color-bg-body:                   var(--color-bg-page-major);
    --color-fg-body:                   var(--color-c0-page-major);

    --color-ie-input-outline-selected: var(--color-bg-page-alert2);

    --color-bg-ie-input:               var(--color-bg-page-minor);

    --color-bg-ie-output:              var(--color-bg-page-major);
    --color-fg-ie-output:              var(--color-c0-page-major);

    --color-ie-output-td:              var(--color-c0-page-major);

    --color-bg-ie-error:               var(--color-bg-page-alert2);
    --color-fg-ie-error:               var(--color-c0-page-alert2);

    --control-indicator-diameter:      0.5rem;

    --selected-indicator-width:        0.16rem;
}

html {
    height: 100%;
    margin: 0;
}

body.hidden {
    display: none;
}

body {
    margin: 0;
    height: 100%;
    /* set in @media not print: overflow: hidden; */
    color: var(--color-fg-body);
    background: var(--color-bg-body);
}

#content {
    display: flex;
    height: 100%;
    flex-direction: column;
    /* set in @media not print: overflow: hidden; */
}

#controls {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #f0f0f0;
    border-bottom: 1px solid black;
}

#controls #indicators {
    align-self: center;
    display: flex;
    margin-left: auto;
}

#controls #modified_indicator,
#controls #running_indicator,
#controls #formatting_indicator {
    align-self: center;
    display: inline-block;
    margin: 0.25rem 0.625rem 0.25rem 0;
    width:  var(--control-indicator-diameter);
    height: var(--control-indicator-diameter);
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #00000000;
    box-shadow: 0 0 calc(var(--control-indicator-diameter) / 2) grey;
}
#controls #modified_indicator.active {
    border: 1px solid black;
    background-color: red;
}
#controls #running_indicator.active {
    border: 1px solid black;
    background-color: aqua;
}
#controls #formatting_indicator.active {
    border: 1px solid black;
    background-color: #fbde2d;
}

#controls #help_link {
    align-self: center;
    margin-left: auto;
    margin-right: 0.625rem;
    padding: 0.25rem;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--color-bg-help-link);
}
#controls #help_link:hover {
    color: var(--color-bg-help-link-hover);
}

#interaction_area {
    margin-left: 2px;
    /* set in @media not print: overflow: auto; */
    flex: 1;
}

/* display id of each interaction_element */
/* DISABLED
.interaction_element::before {
    content: attr(id);
    padding: 0 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: red;
    font-style: italic;
}
*/

.interaction_element {
    display: grid;
    grid-template-columns: var(--selected-indicator-width) 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "selected_indicator input"
        "selected_indicator output";
}

.interaction_element .selected_indicator {
    grid-area: selected_indicator;
    margin: 0.25rem 0 0 0;
    border-radius: calc(var(--selected-indicator-width) / 2);
    min-height: 1px;  /* leave something to see if the element is completely empty */
    background: #00000028;
}

.interaction_element.selected .selected_indicator {
    background: var(--color-ie-input-outline-selected);
}

.interaction_element .input {
    grid-area: input;
    width: calc(100% - 1.5rem);
    padding: 0.25rem;
    margin: 0.25rem 0 0 0.2rem;
    border: 1px solid var(--color-border);
    background: var(--color-bg-body);
}

.interaction_element.selected .input {
    outline: 1px solid var(--color-ie-input-outline-selected);
}

.interaction_element.autohide:not(.selected) .input {
    /* hide inputs of ie elements with .hide-input class */
    /* automatically hide markdown/MathJax inputs when not selected */
    display: none;
}

.CodeMirror {
    height: auto !important;  /* this, plus configuring CodeMirror with "viewportMargin: Infinity" enables auto-resize */
}

.interaction_element .output {
    grid-area: output;
    margin: 0.5em;
    padding: 0.25em;
    color: var(--color-fg-ie-output);
    background: var(--color-bg-ie-output);
}
.interaction_element .output:empty {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.interaction_element .output > .text-content {
    display: inline;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 121%;
}
.interaction_element .output .mjx-math {
    font-family: none;  /* prevent math formatting issues when monospace is set */
}
.interaction_element .output > .text-content > p {
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline;
}
.interaction_element .output > .text-content > pre {
    margin: 0 0;
}

.interaction_element .output table {
    border-collapse: collapse;
}

.interaction_element .output td {
    border: 1px solid var(--color-ie-output-td);
    padding: 0.5em;
}

.interaction_element .output-graphics {
    display: block;  /* break lines after img loaded from saved graphics */
}

.interaction_element .error {
    color: var(--color-fg-ie-error);
    background: var(--color-bg-ie-error);
    padding: 0.5em;
}


/* === print media queries === */

@media print {
    .interaction_element .input {
        border: 1px solid black;
    }
    #controls {
        display: none;
    }
    .interaction_element .selected_indicator {
        background: transparent;
    }
    .interaction_element.selected .input {
        outline: none;
    }

}

@media not print {
    /* these overflow styles cause only a single page to be "printed" (output) */

    body {
        overflow: hidden;
    }

    #content {
        overflow: hidden;
    }

    #interaction_area {
        overflow: auto;
    }
}
