:root {
    /* color */

    --bgcolor-status:            hsl(0deg 0% 98% / 100%);
    --bgcolor-cell:              hsl(0deg 0% 99% / 100%);

    --color-type-markdown:       hsl(205deg 100%  91% / 100%);
    --color-type-tex:            hsl( 45deg  81%  87% / 100%);
    --color-type-javascript:     hsl( 85deg 100%  85% / 100%);


    /* border */

    --border-radius-cell:        0.125em;
    --border-width-cell:         1px;
    --border-style-cell:         solid;
    --border-width-status:       1px;
    --border-style-status:       solid;
    --border-color-status:       #ccc;
    --border-color-cell:         #ccc;
    --border-color-status-focus: black;
    --border-color-cell-focus:   black;


    /* focus transition */

    --focus-x1-delay:             0s;
    --focus-x1-duration:          0.2s;
    --focus-x1-easing:            cubic-bezier(0.42, 0.0, 0.0, 1.0);

    --focus-x2-delay:             calc(var(--focus-x1-duration) / 4);
    --focus-x2-duration:          0.1s;
    --focus-x2-easing:            cubic-bezier(0.42, 0.0, 0.0, 1.0);
}


status-bar {
    background-color: var(--bgcolor-status);
}

eval-cell {
    background-color: var(--bgcolor-cell);

    outline: 0px solid transparent;  /* disable default outline */

    white-space: pre-wrap;  /* properly display white-space */
    font-family: monospace;
    line-height: 140%;

    display: block;
    margin:  0;
    padding: 0.3em 0.5em;
}

.eval-cell-output {
    display: block;
    padding: 0.5em;

    white-space: pre-wrap;  /* properly display white-space */
    line-height: 140%;

    background-color: white;
}
.eval-cell-output:has(+ status-bar),
.eval-cell-output:has(+ eval-cell) {
    padding-bottom: 1em;
}


/* border */

status-bar {
    overflow: hidden;

    max-height:   0;
    border-width: 0;
    padding:      0;
    transition: max-height   var(--focus-x1-duration) var(--focus-x1-easing) var(--focus-x1-delay);
    transition: border-width var(--focus-x2-duration) var(--focus-x2-easing) var(--focus-x2-delay);
    transition: padding      var(--focus-x2-duration) var(--focus-x2-easing) var(--focus-x2-delay);

    border-radius: var(--border-radius-cell) var(--border-radius-cell) 0 0;
    border-style:  var(--border-style-status);
    border-color:  var(--border-color-status);
}
eval-cell {
    overflow: hidden;

    max-height:   0;
    border-width: 0;
    padding:      0 0.5em;
;
    transition: max-height   var(--focus-x1-duration) var(--focus-x1-easing) var(--focus-x1-delay);
    transition: border-width var(--focus-x2-duration) var(--focus-x2-easing) var(--focus-x2-delay);
    transition: padding      var(--focus-x2-duration) var(--focus-x2-easing) var(--focus-x2-delay);

    border-radius: 0 0 var(--border-radius-cell) var(--border-radius-cell);
    border-style:  var(--border-style-cell);
    border-color:  transparent var(--border-color-cell) var(--border-color-cell) var(--border-color-cell);
}

status-bar:has(+ eval-cell:focus-within) {
    max-height:   100vh;
    border-width: var(--border-width-status);
    padding:      0;

    border-top-color:   var(--border-color-status-focus);
    border-left-color:  var(--border-color-status-focus);
    border-right-color: var(--border-color-status-focus);
}
eval-cell:focus-within {
    max-height:   100vh;
    border-width: var(--border-width-cell);
    padding:      0.3em 0.5em;

    border-color: transparent var(--border-color-cell-focus) var(--border-color-cell-focus) var(--border-color-cell-focus);
}


/* color selected by eval-cell input-type */


status-bar option,
status-bar select {
    background-color: var(--color-type-markdown);
}

status-bar option[value="javascript"],
status-bar > select:has(> option[value="javascript"]:checked) {
    background-color: var(--color-type-javascript);
}

status-bar option[value="tex"],
status-bar > select:has(> option[value="tex"]:checked) {
    background-color: var(--color-type-tex);
}


status-bar {
    border-bottom-color: var(--color-type-markdown);
}

status-bar:has(option[value="javascript"]:checked) {
    border-bottom-color: var(--color-type-javascript);
}

status-bar:has(option[value="tex"]:checked) {
    border-bottom-color: var(--color-type-tex);
}
