status-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;
    padding: 0 0.5em;
}

status-bar > * {
    margin: 0;  /* pack controls within status-bar; let flex gap handle spacing */
    background-color: hsl(0deg 0% 98%);
}

.status-bar-indicator {
    display: block;
    width:  0.5em;
    height: 0.5em;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 50%;
    background-color: hsl(0deg 0% 97%);
}

.status-bar-indicator.running[data-indicator-value="on"] {
    background-color: hsl(120deg 94% 40% / 100%);
}
.status-bar-indicator.modified[data-indicator-value="on"] {
    background-color: red;
}

status-bar > select > option {
    background-color: hsl(0deg 0% 97%);
}
