#content .menu:not(.active) {
    display: none;
}

#content .menubar:focus {
    outline: none;  /* no need for outline, we provide other visual feedback */
}

#content .menubar {
    margin: 0;
    padding: 0.1rem 0 0.1rem 0;
}

#content .menubar>li {
    display: inline;  /* horizonal orientation for top-level items of menubar */
    padding: 0 0.5rem 0 0.5rem;
}

#content .menubar .menuitem {
    list-style-type: none;
    min-width: max-content;
}

#content .menuitem * {
    user-select: none;
}

#content .menuitem .menuitem-label {
    font-family: sans-serif;
    font-size: 90%;
}

#content .menubar div {
    display: inline;
}

#content .menu {
    position: absolute;
    z-index: 999;
    background-color: #f0f0f0;
    padding: 0.25rem 0 0.25rem 0;  /* override standard ul/li padding */
    border-radius: 0.25rem;
    border: 1px solid grey;
    box-shadow: 3px 3px 16px lightgrey;

    /* eliminate default styling for menu elements */
    margin-block-start:   0;
    margin-block-end:     0;
    margin-inline-start:  0;
    margin-inline-end:    0;
    padding-inline-start: 0;
}

#content .menuitem.disabled {
    color: #bbb;
}

#content .menuitem.selected {
    background-color: #0004;
}

#content .menu .menuitem:not(.menuitem-separator) {
    padding: 0 0.5rem 0 1.5rem;
}

#content .menu .menuitem.menuitem-separator {
    margin: 0.2rem 0 0.2rem 0;
    height: 0px;
    color: transparent;
    border-bottom: 1px solid #3334;
}

#content .menu .menuitem .menuitem-annotation {
    margin-left: 2rem;
    float: right;
}

#content .menu .menuitem kbd {
    margin: 0 0 0 0.5rem;
}
