:root {
    --controls-height: 1.5rem;
}

:root {
    /* color */

    --bgcolor-tool:          hsl(0deg 0% 98% / 100%);
    --bgcolor-cell:          hsl(0deg 0% 99% / 100%);

    --color-type-markdown:   hsl(205deg 100%  94% / 100%);
    --color-type-tex:        hsl( 45deg  81%  87% / 100%);
    --color-type-javascript: hsl( 85deg 100%  85% / 100%);


    /* border */

    --border-radius-cell:      0.125em;
    --border-width-cell:       1px;
    --border-style-cell:       solid;
    --border-width-tool:       1px;
    --border-style-tool:       solid;
    --border-color-tool:       #ccc;
    --border-color-cell:       #ccc;
    --border-color-tool-focus: black;
    --border-color-cell-focus: black;


    /* focus transition */

    --focus-x1-delay:    0s;
    --focus-x1-duration: 0.2s;
    --focus-x1-easing:   cubic-bezier(0.42, 0.0, 0.0, 1.0);

    --focus-x2-delay:    calc(var(--focus-x1-duration) / 4);
    --focus-x2-duration: 0.1s;
    --focus-x2-easing:   cubic-bezier(0.42, 0.0, 0.0, 1.0);
}


body {
    margin: 0;
    background-color: #eee;
}

#controls {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    height: var(--controls-height);
    background-color: #f8f8f8;
    border-bottom: 1px solid black;
}

#controls > tool-bar {  /* next to menu */
    max-height: 100vh;

    padding: 0 0.5em;

    border: 0;
    border-width: var(--border-width-tool);

    background-color: transparent;

    align-self: center;
    margin-left: auto;  /* push to far right */
}

.eval-cell-output {
    display: block;
    padding: 0.5em;

    white-space: pre-wrap;  /* properly display white-space */
    line-height: 140%;

    background-color: white;
}
.eval-cell-output:has(+ tool-bar),
.eval-cell-output:has(+ eval-cell) {
    padding-bottom: 1em;
}

/* */
eval-cell[data-active] + .eval-cell-output::before {
    content: " ";
    background-color: cornflowerblue;
    min-width: 1em;
},


/* visible/active - animated attributes */

tool-bar {
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;

    background-color: var(--bgcolor-tool);

    max-height: 0;
    padding:    0 0.5em;
    /* split color into the three sides; the bottom side is controlled by the input type selector */
    border-top-color:   var(--border-color-tool);
    border-right-color: var(--border-color-tool);
    border-left-color:  var(--border-color-tool);

    transition: max-height   var(--focus-x1-duration) var(--focus-x1-easing) var(--focus-x1-delay);
    transition: padding      var(--focus-x2-duration) var(--focus-x2-easing) var(--focus-x2-delay);
    transition: border-color var(--focus-x2-duration) var(--focus-x2-easing) var(--focus-x2-delay);

    border-width:  var(--border-width-tool);
    border-radius: var(--border-radius-cell) var(--border-radius-cell) 0 0;
    border-style:  var(--border-style-tool);

}

eval-cell {
    overflow: hidden;

    display: block;
    margin:  0;

    outline: 0px solid transparent;  /* disable default contenteditable outline */

    white-space: pre-wrap;  /* properly display white-space */
    font-family: monospace;
    line-height: 140%;

    background-color: var(--bgcolor-cell);

    max-height:  0;
    padding:     0 0.5em;
    border-color: transparent var(--border-color-cell) var(--border-color-cell) var(--border-color-cell);

    transition: max-height   var(--focus-x1-duration) var(--focus-x1-easing) var(--focus-x1-delay);
    transition: padding      var(--focus-x2-duration) var(--focus-x2-easing) var(--focus-x2-delay);
    transition: border-color var(--focus-x2-duration) var(--focus-x2-easing) var(--focus-x2-delay);

    border-width:  var(--border-width-cell);
    border-radius: 0 0 var(--border-radius-cell) var(--border-radius-cell);
    border-style:  var(--border-style-cell);
}


tool-bar:has(+ eval-cell[data-visible]),
tool-bar:has(+ eval-cell[contenteditable]) {
    max-height: 100vh;
    padding:    0 0.5em;
}
eval-cell[data-visible],
eval-cell[contenteditable] {
    max-height: 100vh;
    padding:    0.3em 0.5em;
}

tool-bar:has(+ eval-cell[data-visible][data-active]),
tool-bar:has(+ eval-cell[contenteditable][data-active]) {
    border-top-color:   var(--border-color-tool-focus);
    border-right-color: var(--border-color-tool-focus);
    border-left-color:  var(--border-color-tool-focus);
}
eval-cell[data-visible][data-active],
eval-cell[contenteditable][data-active] {
    border-color: transparent var(--border-color-cell-focus) var(--border-color-cell-focus) var(--border-color-cell-focus);
}


/* color selected by eval-cell input-type */


tool-bar option,
tool-bar select {
    background-color: var(--color-type-markdown);
}

tool-bar option[value="javascript"],
tool-bar > select:has(> option[value="javascript"]:checked) {
    background-color: var(--color-type-javascript);
}

tool-bar option[value="tex"],
tool-bar > select:has(> option[value="tex"]:checked) {
    background-color: var(--color-type-tex);
}


tool-bar:has(option) {
    border-bottom-color: var(--color-type-markdown);
}

tool-bar:has(option[value="javascript"]:checked) {
    border-bottom-color: var(--color-type-javascript);
}

tool-bar:has(option[value="tex"]:checked) {
    border-bottom-color: var(--color-type-tex);
}

/* === tool-bar indicators and controls === */

tool-bar > * {
    margin: 0;  /* pack controls within tool-bar; let flex gap handle spacing */
    background-color: hsl(0deg 0% 98% / 100%);
}

.tool-bar-indicator {
    display: block;
    width:  0.5em;
    height: 0.5em;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid hsl(0deg 9% 82% / 100%);
    background-color: hsl(0deg 0% 97% / 100%);
}

.tool-bar-indicator.running[data-indicator-value="on"] {
    border: 1px solid black;
    background-color: hsl(120deg 94% 40% / 100%);
}
.tool-bar-indicator.modified[data-indicator-value="on"] {
    border: 1px solid black;
    background-color: hsl(0deg 60% 85% / 100%);
}

tool-bar > select > option {
    background-color: hsl(0deg 0% 97% / 100%);
}

/* === toggle-switch === */

toggle-switch {
    appearance: none;
    border: 0;
    width:  1.5rem;
    height: 1.5rem;
}

toggle-switch svg {
    width:  auto;
    height: 100%;
}

toggle-switch.tool-bar-toggle-editable                      svg .accent-fill   { fill:   hsl(0deg 9% 82% / 100%); }
toggle-switch.tool-bar-toggle-editable                      svg .accent-stroke { stroke: transparent; }
toggle-switch.tool-bar-toggle-editable[aria-checked="true"] svg .accent-fill   { fill:   hsl(0deg 60% 70% / 100%); }
toggle-switch.tool-bar-toggle-editable[aria-checked="true"] svg .accent-stroke { stroke: transparent; }

toggle-switch.tool-bar-toggle-visible                       svg .accent-fill   { fill:   transparent; }
toggle-switch.tool-bar-toggle-visible                       svg .accent-stroke { stroke: hsl(0deg 9% 82% / 100%); }
toggle-switch.tool-bar-toggle-visible[aria-checked="true"]  svg .accent-fill   { fill:   chartreuse; }
toggle-switch.tool-bar-toggle-visible[aria-checked="true"]  svg .accent-stroke { stroke: hsl(0deg 100% 45% / 100%); }

toggle-switch.tool-bar-toggle-autoeval                      svg .accent-fill   { fill:   transparent; }
toggle-switch.tool-bar-toggle-autoeval                      svg .accent-stroke { stroke: hsl(0deg 9% 82% / 100%); }
toggle-switch.tool-bar-toggle-autoeval[aria-checked="true"] svg .accent-fill   { fill:   transparent; }
toggle-switch.tool-bar-toggle-autoeval[aria-checked="true"] svg .accent-stroke { stroke: hsl(0deg 60% 70% / 100%); }


/* === print media queries === */

@media not print {
    /* these overflow styles cause only a single page to be "printed" (output) */

    body {
        overflow: hidden;
    }

    #content {
        overflow: auto;
        max-height: calc(100vh - var(--controls-height));
    }
}

@media print {

    #controls {
        display: none;
    }

}
